<form class="form-horizontal" ng-submit="ctrl.submitForm()">
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Reuqest status:
        <ul>
            <li ng-show="!ctrl.requestStatus">No results yet, please submit the form.</li>
            <li ng-show="!!ctrl.requestStatus" class="requestStatus" ng-class="ctrl.requestStatusClass">{{ctrl.requestStatus}}</li>
        </ul>
    </div>
    <legend>Product</legend>
    <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="ctrl.product.name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputKey" class="col-lg-2 control-label">Key</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="inputKey" placeholder="Key" ng-model="ctrl.product.key" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPrice" class="col-lg-2 control-label">Price</label>
        <div class="col-lg-10">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="0" max="999999999" step="any" class="form-control" id="inputPrice" placeholder="Price" ng-model="ctrl.product.price" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputStockLevel" class="col-lg-2 control-label">StockLevel</label>
        <div class="col-lg-10">
            <input type="number" min="0" max="999999999" class="form-control" id="inputStockLevel" placeholder="StockLevel" ng-model="ctrl.product.stockLevel" required>
        </div>
    </div>
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-10 col-lg-offset-2">
                    <div class="row">
                        <div class="col-sm-10">
                            <label>Select category</label>
                            <button ng-click="ctrl.clearSelectedCategory()" class="clear-select create-update">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                            <ui-select ng-model="ctrl.selectedCategory" theme="selectize" ng-disabled="disabled">
                                <ui-select-match placeholder="Select category">{{ctrl.selectedCategory.name}}</ui-select-match>
                                <ui-select-choices repeat="pc in ctrl.productCategories | filter: $select.search">
                                    <span ng-bind-html="pc.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-10" ng-show="ctrl.selectedCategory.name">
                            <label>Select subcategory</label>
                            <button ng-click="ctrl.clearSelectedSubCategory()" class="clear-select create-update">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                            <ui-select ng-model="ctrl.selectedSubCategory" theme="selectize">
                                <ui-select-match placeholder="Select subcategory">{{ctrl.selectedSubCategory.name}}</ui-select-match>
                                <ui-select-choices repeat="ps in ctrl.productSubCategories | filter: $select.search">
                                    <span ng-bind-html="ps.name  | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>