<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul>
                	<li>First of all you need to select a category of product</li>
                	<li ng-show="ctrl.selectedCategory.id">Then choose subcategory</li>
                    <li ng-show="ctrl.selectedSubCategory.id"><strong>Here they are!</strong> Products satisfying your search filters.</li>
                	<li ng-show="!!ctrl.requestStatus" class="requestStatus">{{ctrl.requestStatus}}</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <p class="select-header">Select category</p>
                    <div class="col-sm-12">
                        <button ng-click="ctrl.clearSelectedCategory()" class="clear-select">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                        <ui-select ng-model="ctrl.selectedCategory" theme="selectize" ng-disabled="disabled">
                            <ui-select-match placeholder="Select category">{{ctrl.selectedCategory.name}}</ui-select-match>
                            <ui-select-choices repeat="pc in ctrl.productCategories | filter: $select.search">
                                <span ng-bind-html="pc.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-11" ng-show="ctrl.selectedCategory.name">
                    <p class="select-header">Select subcategory</p>
                    <div class="col-sm-12">
                        <button ng-click="ctrl.clearSelectedSubCategory()" class="clear-select">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                        <ui-select ng-model="ctrl.selectedSubCategory" theme="selectize">
                            <ui-select-match placeholder="Select subcategory">{{ctrl.selectedSubCategory.name}}</ui-select-match>
                            <ui-select-choices repeat="ps in ctrl.productSubCategories | filter: $select.search">
                                <span ng-bind-html="ps.name  | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" ui-sref="layout.productCreate">Create new product</button>
        </div>
    </div>
    <div ng-show="ctrl.products.length" class="products-container">
    	<div class="row">
    		<div class="col-sm-6">
	        	<select ng-model="ctrl.table.showItemsCountSelected" class="form-control"
	        		ng-options="s as s.name for s in ctrl.table.showItemsCount"></select>
    		</div>
    		<div class="col-sm-6">
	            <div class="form-group">
	                <input type="text" ng-model="search" class="form-control" placeholder="Search">
	            </div>
            </div>
    	</div>


        <table class="table table-striped table-hover products-table">
            <thead>
                <tr>
                    <th ng-click="ctrl.table.orderColumn('id')">Id
                        <span class="glyphicon sort-icon" ng-show="ctrl.table.sortKey=='id'" ng-class="{'glyphicon-chevron-up':ctrl.table.reverse,'glyphicon-chevron-down':!ctrl.table.reverse}"></span>
                    </th>
                    <th ng-click="ctrl.table.orderColumn('key')">Key
                        <span class="glyphicon sort-icon" ng-show="ctrl.table.sortKey=='key'" ng-class="{'glyphicon-chevron-up':ctrl.table.reverse,'glyphicon-chevron-down':!ctrl.table.reverse}"></span>
                    </th>
                    <th ng-click="ctrl.table.orderColumn('name')">Name
                        <span class="glyphicon sort-icon" ng-show="ctrl.table.sortKey=='name'" ng-class="{'glyphicon-chevron-up':ctrl.table.reverse,'glyphicon-chevron-down':!ctrl.table.reverse}"></span>
                    </th>
                    <th ng-click="ctrl.table.orderColumn('price')">Price
                        <span class="glyphicon sort-icon" ng-show="ctrl.table.sortKey=='price'" ng-class="{'glyphicon-chevron-up':ctrl.table.reverse,'glyphicon-chevron-down':!ctrl.table.reverse}"></span>
                    </th>
                    <th ng-click="ctrl.table.orderColumn('stockLevel')">StockLevel
                        <span class="glyphicon sort-icon" ng-show="ctrl.table.sortKey=='stockLevel'" ng-class="{'glyphicon-chevron-up':ctrl.table.reverse,'glyphicon-chevron-down':!ctrl.table.reverse}"></span>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="product in ctrl.products|orderBy:ctrl.table.sortKey:ctrl.table.reverse|filter:search|itemsPerPage:ctrl.table.showItemsCountSelected.value">
                    <td>{{product.id}}</td>
                    <td>{{product.key}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.stockLevel}}</td>
                    <td>
                        <a ui-sref="layout.productUpdate({id:product.id})">Update</a> |
                        <a ng-click="ctrl.deleteProduct(product)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="background-color: #c9302c; color:white;">
        <h3 class="modal-title" id="modal-title">Are you sure you want to delete this item?</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <h3>{{product.name}}</h3>
        <p>Key: <label class="label label-primary">{{product.key}}</label></p>
        <p>Price: ${{product.price}}</p>
        <p>StockLevel: ${{product.stockLevel}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="submitDeleting()">Ok</button>
        <button class="btn btn-default" type="button" ng-click="cancelDeleting()">Cancel</button>
    </div>
</script>