/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu>li {
    display: inline;
}

.menu>li+li:before {
    content: "|";
    padding-right: 0.3em;
}

.select-header {
    padding-left: 15px;
}

button.clear-select {
    position: absolute;
    right: -13px;
    height: 36px;
    border: 1px solid #d0d0d0;
}

button.clear-select.create-update {
    top: 25px;
}

div.gotoproducts {
    margin-top: 30px;
}

.products-table tr {
    cursor: pointer;
}

.products-container {
    margin-top: 20px;
}

div.main-view{
    padding-top:55px;
}

.requestStatus{
    padding: 10px;
    font-size: 14px;
    border-radius:2px;
}
@keyframes colorchange_success
{
  0%  {background: #bce8f1;}
  20$ {background: #bcf1d5;}
  100% {background: #82eab3;}
}

@-webkit-keyframes colorchange_success
{
  0%  {background: #bce8f1;}
  20$ {background: #bcf1d5;}
  100% {background: #82eab3;}
}

.requestStatus.success {
    animation: colorchange_success 5s; 
    -webkit-animation: colorchange_success 5s; 
}

@keyframes colorchange_error
{
  0%  {background: #ffe8f1;}
  20$ {background: #ff81a1;}
  100% {background: #ff7073;}
}

@-webkit-keyframes colorchange_error
{
  0%  {background: #ffe8f1;}
  20$ {background: #ff81a1;}
  100% {background: #ff7073;}
}

.requestStatus.error {
    animation: colorchange_error 5s; 
    -webkit-animation: colorchange_error 5s; 
}