<div class="jumbotron">
    <h1>AdventureWorks</h1>
    <p>{{ctrl.message}} </p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nostrum beatae consectetur, mollitia soluta eum. Possimus deserunt hic, consequatur necessitatibus, maiores perspiciatis distinctio praesentium eveniet suscipit repudiandae itaque, a! Tempore.</span>
    <div class="gotoproducts">
        <a class="btn btn-primary btn-lg" ui-sref="layout.product">Go to products</a>
    </div>
</div>