<div class="container" >
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AdventureWorks</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="layout.home">Home <span class="sr-only">(current)</span></a></li>
        <li ui-sref-active="active"><a ui-sref="layout.product">Products</a></li>
      </ul>
    </div>
  </div>
</nav>

 <div ui-view class="main-view"></div>

</div>
